<video autoplay loop muted id="background-video">
  <source src="assets/fundo2.mp4" type="video/mp4" />
  Seu navegador não suporta vídeo.
</video>

<div class="excluir-container">
    <form (ngSubmit)="excluirJogo()">
      <label for="input-id" class="label-excluir">Informe o ID do jogo que deseja excluir:</label>
      <input
        type="string"
        id="input-id"
        name="input-id"
        [(ngModel)]="idExcluir"
        class="input-id"
        required
      />
      <button type="submit" class="btn-excluir">Excluir</button>
    </form>
  
    <div *ngIf="mensagemSucesso" class="sucesso-mensagem">
      {{ mensagemSucesso }}
    </div>
  
    <div *ngIf="mensagemErro" class="erro-mensagem">
      {{ mensagemErro }}
    </div>
  </div>